parameters:
    ignoreErrors:
        -
            message: "#^Cannot access property \\$id on array\\<string, mixed\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\.$#"
            count: 1
            path: src/Resources/AttachmentResource.php
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 1
            path: src/Exceptions/FormatNotFound.php
        -
            message: "#^Unsafe usage of new static\\(\\)\\.$#"
            count: 1
            path: src/Mixins/UploadedFileMixin.php
        -
            message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Builder\\:\\:search\\(\\).$#"
            count: 1
            path: src/Resources/AttachmentResource.php
        -
            message: "#^Call to an undefined method Livewire\\\\Features\\\\SupportFileUploads\\\\TemporaryUploadedFile\\:\\:save\\(\\).$#"
            count: 2
            path: src/Filament/Actions/Traits/CanUploadAttachment.php
        -
            message: "#^Access to an undefined property Filament\\\\Tables\\\\Contracts\\\\HasTable\\:\\:\\$tableSearch.$#"
            count: 1
            path: src/Resources/AttachmentResource/Pages/ListAttachments.php
        -
            message: "#^Access to an undefined property Livewire\\\\Component\\:\\:\\$mountedActions.$#"
            paths:
                - src/Filament/Actions/Traits/CanUploadAttachment.php
                - src/Filament/Actions/Forms/UploadAttachmentAction.php
