@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .gallery-container {
    @apply @container/gallery;
  }

  .gallery {
    @apply grid @[0px]/gallery:grid-cols-2 @md/gallery:grid-cols-3 @xl/gallery:grid-cols-4 @3xl/gallery:grid-cols-5 @5xl/gallery:grid-cols-6 gap-4;
  }

  .gallery .sortable-ghost {
    @apply border-dashed border-2 rounded-lg border-gray-600;
  }

  .gallery .sortable-ghost * {
    @apply opacity-0;
  }

  .attachment__btn-block .fi-icon-btn {
    @apply m-0 bg-gray-100 hover:bg-white dark:bg-zinc-900 dark:hover:bg-zinc-700 rounded-md cursor-pointer shadow-lg !important;
  }

  .attachment__btn-block .fi-icon-btn.fi-color-gray {
    @apply text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-300;
  }

  .attachment__btn-block .fi-icon-btn.fi-color-gray .fi-icon-btn-icon {
    @apply w-4 h-4;
  }

  .gallery--dragging .sortable-icon {
    opacity: 0 !important;
  }

  .gallery--dragging .attachment-visual::after {
    opacity: 0 !important;
  }

  .format-preview--variable-height::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, transparent 50%, #e5e7eb 50%);
    background-size: 20px 4px;
  }

  .format-preview--variable-width::after {
    content: '';
    position: absolute;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(to bottom, transparent 50%, #e5e7eb 50%);
    background-size: 4px 20px;
  }

  .fi-ta-record .fi-ta-actions {
    flex-wrap: wrap !important;
  }

  .fi-ta-record .fi-ta-text {
    word-break: break-word;
  }
}
